{% extends 'template.twig' %}
{% block head %}
    <link rel="stylesheet" href="/assets/admin.css">
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between">
        <h1>List categories</h1>
        <div>
            <span>Total: {{ total }}</span>
            <a href="/admin/categories/add" class="btn btn-info">Add Category</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.getName }}</td>
                <td><img class="category-small img-thumbnail" src="{{ category.getImage }}" alt=""></td>
                <td>{{ category.getDescription }}</td>
                <td class="d-flex">
                    <a href="/admin/categories/edit/{{ category.getId }}" class="btn btn-info btn-sm"><i class="fas fa-pen"></i> Edit</a>
                    <form action="/admin/categories/delete" method="POST">
                        <input type="hidden" name="_METHOD" value="DELETE"/>
                        <input type="hidden" name="id" value="{{ category.getId }}">
                        <button class="btn btn-danger btn-sm" type="submit"><i class="far fa-trash-alt"></i> Remove</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr/>
    {% include 'partial/pagination.twig' with {'url' : '/admin/categories/'} %}
{% endblock %}