{% extends 'front-template.twig' %}

{% block title %}Latest Posts{% endblock %}

{% block content %}

    <section class="site-section pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme home-slider">
                        {% for sl_post in slider_posts %}
                            <div>
                                <a href="/{{ sl_post.getSlug }}" class="a-block d-flex align-items-center height-lg" style="background-image: url('{{ sl_post.getImage }}'); ">
                                    <div class="text half-to-full">
                                        <span class="category mb-5">{{ sl_post.getCategory.getName }}</span>
                                        <div class="post-meta">

                                            <span class="author mr-2"><img src="{{ sl_post.getAuthor.getAvatar }}" alt="{{ sl_post.getAuthor.getName }}"> {{ sl_post.getAuthor.getName }}</span>&bullet;
                                            <span class="mr-2">{{ sl_post.getPublishedAt | date("M d, Y") }} </span> &bullet;
                                            <span class="ml-2"><span class="fa fa-comments"></span>
                                                3
                                            </span>

                                        </div>
                                        <h3>{{ sl_post.getTitle }}</h3>
                                        <p>{{ sl_post.getDescription }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end slider -->

    <section class="site-section py-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-4">Latest Posts</h2>
                </div>
            </div>
            <div class="row blog-entries">
                <div class="col-md-12 col-lg-8 main-content">
                    <div class="row">
                        {% for post in posts %}
                            <div class="col-md-6">
                                <a href="/{{ post.getSlug }}" class="blog-entry element-animate"
                                   data-animate-effect="fadeIn">
                                    <img src="{{ post.getImage }}" alt="Image placeholder">
                                    <div class="blog-content-body">
                                        <div class="post-meta">
                                            <span class="author"><img src="{{ post.getAuthor.getAvatar }}"
                                                                      alt="{{ post.getAuthor.getName }}"> {{ post.getAuthor.getName }}</span> &bullet;
                                            <span class="">{{ post.getPublishedAt | date("M d, Y") }}</span>
                                        </div>
                                        <h2>{{ post.getTitle }}</h2>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    {% include 'partial/front-pagination.twig' %}

                </div>

                <!-- END main-content -->
                {% include 'partial/front-sidebar.twig' %}
                <!-- END sidebar -->

            </div>
        </div>
    </section>
{% endblock %}