{% extends 'front-template.twig' %}

{% block title %}Latest Posts{% endblock %}

{% block content %}
    <section class="site-section py-lg">
        <div class="container">

            <div class="row blog-entries element-animate">

                <div class="col-md-12 col-lg-8 main-content">
                    <img src="{{ post.getImage }}" alt="{{ post.getTitle }}" class="img-fluid mb-5">
                    <div class="post-meta">
                        <span class="author mr-2"><img src="{{ post.getAuthor.getAvatar }}" alt="{{ post.getAuthor.getName }}" class="mr-2"> {{ post.getAuthor.getName }}</span>&bullet;
                        <span class="mr-2">{{ post.getPublishedAt | date("M d, Y") }}</span> &bullet;
                        <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                    </div>
                    <h1 class="mb-4">{{ post.getTitle }}</h1>

                    <a class="category mb-5" href="/category/{{ post.getCategory.getId }}">{{ post.getCategory.getName }}</a>

                    <div class="post-content-body">
                        {{ post.getBody | raw }}
                    </div>


                    <div class="pt-5">
                        <p>Category:
                            <a href="/category/{{ post.getCategory.getId }}">{{ post.getCategory.getName }} </a>
                            Tags:
                            {% for tag in post.getTags %}
                                <a href="/tag/{{ tag.getSlug }}">#{{ tag.getTitle }}</a>
                            {% endfor %}
                        </p>
                    </div>


                    <div class="pt-5">
                        <h3 class="mb-5">Comments</h3>
                        <!-- comment-list -->


                        <div id="disqus_thread"></div>
                        <script>

                            /**
                             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            //var disqus_config = function () {
                            //this.page.url = "http://localhost:8080/{{ post.getSlug }}";  // Replace PAGE_URL with your page's canonical URL variable
                            //this.page.identifier = "{{ post.getId }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            //};

                            (function() { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = 'https://localhost-blog-dev.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>




                        <!-- End comment-list -->

                    </div>

                </div>

                <!-- END main-content -->

                {% include 'partial/front-sidebar.twig' %}

                <!-- END sidebar -->

            </div>
        </div>
    </section>
{% endblock %}