<div class="col-md-12 col-lg-4 sidebar">
    <div class="sidebar-box search-form-wrap">
        <h3 class="heading">Search</h3>

        <form action="/search" method="post" class="search-form">
            <div class="form-group">
                <span class="icon fa fa-search"></span>
                <input type="text" class="form-control" id="s" name="search" placeholder="Type a keyword and hit enter">
            </div>
        </form>
    </div>

    <!-- END sidebar-box -->
    <div class="sidebar-box">
        <h3 class="heading">Random Posts</h3>
        <div class="post-entry-sidebar">
            <ul>
                {% for r_post in randomPosts %}
                    <li>
                        <a href="">
                            <img src="{{ r_post.getImage }}" alt="{{ r_post.getTitle }}" class="mr-4">
                            <div class="text">
                                <h4>{{ r_post.getTitle }}</h4>
                                <div class="post-meta">
                                    <span class="mr-2">{{ r_post.getPublishedAt | date("M d, Y") }} </span>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- END sidebar-box -->

    <div class="sidebar-box">
        <h3 class="heading">Categories</h3>
        <ul class="categories">
            {% for category in categories %}
                <li>
                    <a href="/category/{{ category.getId }}">
                        {{ category.getName }} <span>(12)</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- END sidebar-box -->
    <div class="sidebar-box">
        <h3 class="heading">Random tags</h3>
        <ul class="tags">
            {% for tag in tags %}
                <li>
                    <a href="/tag/{{ tag.getSlug }}">{{ tag.getTitle }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>