{% extends 'template.twig' %}
{% block head %}
    <link rel="stylesheet" href="/assets/admin.css">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between">
        <h1>List Posts</h1>
        <div>
            <span>Total: {{ total }}</span>
            <a href="/admin/posts/add" class="btn btn-info">Add Post</a>
        </div>
    </div>
    <hr>
    <div class="container admin-post-list">
        {% for post in posts %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="row d-flex justify-content-start flex-nowrap">
                        <span class="mr-1"><b>Title:</b> </span>
                        <span> {{ post.getTitle }} </span>
                    </div>
                    <div class="row d-flex justify-content-start flex-nowrap">
                        <span class="mr-1"><b>Slug:</b> </span>
                        <span> {{ post.getSlug }} </span>
                    </div>
                    <div class="row d-flex justify-content-start flex-nowrap">
                        <span class="mr-1"><b>Category:</b> </span>
                        <span> {{ post.getCategory.getName }} </span>
                    </div>
                    <br>
                    <div>
                        <a href="/admin/posts/view/{{ post.getId }}" class="btn btn-outline-primary btn-sm">
                            <i class="far fa-eye"></i> Show
                        </a>
                        <a href="/admin/posts/edit/{{ post.getId }}" class="btn btn-outline-warning btn-sm"><i class="far fa-edit"></i> Edit</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-trash-alt"></i> Delete</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row d-flex justify-content-between">
                        <div>
                            <span><b>Created: </b></span>
                            <span><b>Updated: </b></span>
                            <span><b>Publish: </b></span>
                            <span><b>State: </b></span>
                        </div>
                        <div>
                            <span>{{ post.getCreatedAt|date("H:i m/d/y") }}</span>
                            <span>{{ post.getUpdatedAt|date("H:i m/d/y") }}</span>
                            <span>{{ post.getPublishedAt|date("H:i m/d/y") }}</span>
                            <span>{% if post.isPublished %}
                                <span class="badge badge-success">published</span>
                            {% else %}
                                    <span class="badge badge-danger">draft</span>
                                {% endif %}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <img src="{{ post.getImage }}">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6"></div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <br>
    {% include 'partial/pagination.twig' with {'url' : '/admin/posts/'} %}
{% endblock %}